{{ define "main" }}
{{$section := .Site.GetPage "section" .Section}}
  <div class="max-w-xl mx-auto min-h-screen py-6 px-4">
    <h1 class="accent-color text-5xl mb-2">{{$section.Title}}</h1>
    {{with $section.Params.description}}
      <p class="leading-normal">{{.}}</p>
    {{end}}
    <section class="pt5 min-vh-100">
      {{range .Paginator.Pages}}
        <div class="relative w-100 mb-5">
          {{ partial "summary.html" (dict "item" . )}}
        </div>
      {{ end }}
    </section>
    {{ template "_internal/pagination.html" . }}
  </div>
{{ end }}
